@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  primary color => f5f5f5
  secondry color => fff
  button color (dark green) => 6d727b
  another button color (yellow) => ec981a
  another color => 0b1423
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
#root {
  overflow-x: hidden;
}
body {
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  font-family: "Tajawal", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.loading {
  font-size: 1.5rem;
  color: #111142;
  font-weight: 600;
  text-align: center;
}
.loading-details {
  margin: 1rem auto;
}
